ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #FFFFFF;
    height: 100px;
}
li {
    float: right;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 40px 25px;
    text-decoration: none;
}
li a:hover {
    background-color: #000000;
    color: white;
}
