.menu {
  margin: 0px 0px 50% 0px;
  border: 0px;
  width: 100%;
  height: 100px;
  background-color:white;
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.page {
  width: 100%;
  margin: 100px 0px 0px 0px;
  border: 0px;
  position: absolute;
  height: calc(100% - 100px);
}
.logo {
  margin: 10px 20px 10px 20px;
}
.image {
  width: 100%;
  height: 400px;
  background-color: #eeeeee;
  z-index: 1;
}
.content {
  width: calc(100% - 100px);
  padding: 50px 50px 50px 50px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}
.footer {
  width: 100%-100px;
  padding: 50px 50px 50px 50px;
  background-color: #0c0c0c;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}
.pagebody {

}
.body {
  overflow: hidden;
}
.content h6 {
  color: black;
  font-family: 'Bitter', sans-serif;
  font-weight: 700;
}
.footer h6 {
  color: #3f3f3f;
  font-family: 'Bitter', sans-serif;
  font-weight: 700;
}
.content p {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.footer p {
  color: #3f3f3f;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
body {
  margin: 0px;
}
h6 {
  margin: 5px 0px 5px 0px;
  font-size: 40px;
}
p {
  margin: 10px 0px 10px 0px;
  font-size: 20px;
}
a {
  color: #999999;
  text-decoration: none;
}
.pagebody ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.pagebody li {
  display: inline-block;
}
.pagebody img {
  margin: 20px;
}
#header {
  background-image: url('../images/header.jpg');
  background-position: 0% -800%;
  background-attachment: fixed;
  background-size: cover;
}
#footer {
  background-image: url('../images/footer.jpg');
  background-position: 0% -600%;
  background-attachment: fixed;
  background-size: cover;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
